[
    {kernel,
        [
            {logger_level, debug},
            {logger,
                [{handler, default, logger_std_h,
                    #{formatter => {logger_formatter,
                        #{single_line => true, template => [time," [",level,"] ", mfa, " ", msg, "\n"]}}}},
                    {handler, file, logger_std_h,
                        #{formatter => {logger_formatter,
                            #{single_line => true, template => [time," [",level,"] ", mfa, " ", msg, "\n"]}},
                            config => #{file => "log/debug.log"}}}
                ]}
        ]},

    {wispo_api, [
        {http_api, [
            {ip, {0,0,0,0}},
            {port, 8989},
            {host, '_'},
            {urls, [
                {"/jsonrpc/", wispo_api_net_http, #{api => jsonrpc}},
                {"/rest/:vsn/:ns/:op", wispo_api_net_http, #{api => http_rest}},
                {"/static/[...]", cowboy_static_handler, #{}}
            ]}
        ]},
        {db_pg_worker, [
            {host, "localhost"},
            {port, 5432},
            {database, "wispo_api"},
            {timeout, 5000},
            {username, "wispo_api"},
            {password, "secret"}
        ]},
        {jwt, [
            {key, <<"4k5Ergf0fGBoHUdyc605ZvKDhH8Qc86KIiSnSHXIrNkfM5wbKzyFF3b720r6zLe9L4B3BBungs-3eqiclLOnZjSqI7a_IIxWKQNmLf1O7DPbMH7YtExK">>},
            {ttl, 120}
        ]}
    ]}
].
