[
    {kernel,
        [
            {logger_level, debug},
            {logger,
                [{handler, default, logger_std_h,
                    #{formatter => {logger_formatter,
                        #{single_line => true, template => [time," [",level,"] ", mfa, " ", msg, "\n"]}}}},
                    {handler, file, logger_std_h,
                        #{formatter => {logger_formatter,
                            #{single_line => true, template => [time," [",level,"] ", mfa, " ", msg, "\n"]}},
                            config => #{file => "log/debug.log"}}}
                ]}
        ]},

    {wispo_api, [
        {http_api, [
            %{ip, {127,0,0,1}},
            {ip, {0,0,0,0}},
            {port, 8989},
            {host, '_'},
            {urls, [
                {"/rest/:vsn/:obj_type/[:obj_id]", wispo_api_net_http, #{api => http_rest}},
                {"/files/", wispo_api_net_http_upload, #{}},
                {"/images/[...]", cowboy_static, {priv_dir, wispo_api, "files", [
                    {mimetypes, cow_mimetypes, all},
                    {dir_handler, directory_h},
                    {charset, <<"utf-8">>}
                ]}}
            ]},
            {default_rest_api_ver, 1}
        ]},
        {db_pg_worker, [
            {host, "localhost"},
            {port, 5432},
            {database, "wispo_api"},
            {timeout, 5000},
            {username, "wispo_api"},
            {password, "secret"}
        ]},
        {auth_jwt, [
            {iss, <<"Wispo">>},
            {alg, <<"HS256">>},
            {key, <<"4k5Ergf0fGBoHUdyc605ZvKDhH8Qc86KIiSnSHXIrNkfM5wbKzyFF3b720r6zLe9L4B3BBungs-3eqiclLOnZjSqI7a_IIxWKQNmLf1O7DPbMH7YtExK">>},
            {jwt_access_ttl, 31536000},
            {jwt_refresh_ttl, 31536000},
            {xmpp_host, <<"localhost">>}
        ]},
        {auth_bearer, [
            {turn_on_for_uris, [
                <<"/contacts/sync">>,
                <<"/contacts/remove-synced">>
            ]}
        ]},
        {auth_code, [
            {code_ttl, 240},
            {code_len, 6},
            {max_attempts, 3}
        ]}
    ]}
].
