{sms_gateway, [
  {host, <<>>},
  {port, <<>>},
  {user, <<>>},
  {pass, <<>>},
  {api_key, <<>>}
]}.

%% Methods:
%% * users.register
%% * users.confirm
%% * users.notify_me
{http_api, [
  {ip, {127,0,0,1}},
  {host, '_'},
  {port, 8989},
  {urls, [
    {<<"/jsonrpc/">>, wispo_net_http, #{}},
    {<<"/static/[...]">>, cowboy_static_handler, #{}}
  ]}
]}.